In [236]:
import pandas as pd
from sklearn.metrics import accuracy_score # For Checking Accuracy
from sklearn.model_selection import train_test_split # Splitting Data For Train Test
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB # For Multinomial Naive Bayes Model
from sklearn.model_selection import cross_val_score # For Cross Validation
import warnings
warnings.filterwarnings('ignore')
train = pd.read_csv('C:/Users/bilal/Desktop/train.csv')
test = pd.read_csv('C:/Users/bilal/Desktop/test.csv')
print(train.shape)
print(test.shape)
del train['id']
del train['f_27']
del test['f_27']
train.head()

(900000, 33)
(700000, 32)

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,...,f_21,f_22,f_23,f_24,f_25,f_26,f_28,f_29,f_30,target
0,-1.373246,0.238887,-0.243376,0.567405,-0.647715,0.839326,0.113133,1,5,1,...,3.058541,-2.540739,0.766952,-2.730628,-0.208177,1.363402,67.609153,0,0,0
1,1.697021,-1.710322,-2.230332,-0.545661,1.113173,-1.552175,0.447825,1,3,4,...,2.179050,2.278315,-0.633658,-1.217077,-3.782194,-0.058316,377.096415,0,0,1
2,1.681726,0.616746,-1.027689,0.810492,-0.609086,0.113965,-0.708660,1,0,2,...,-0.784235,-1.385775,-0.520558,-0.009121,2.788536,-3.703488,-195.599702,0,2,1
3,-0.118172,-0.587835,-0.804638,2.086822,0.371005,-0.128831,-0.282575,3,2,1,...,-2.343819,0.572594,-1.653213,1.686035,-2.533098,-0.608601,210.826205,0,0,1
4,1.148481,-0.176567,-0.664871,-1.101343,0.467875,0.500117,0.407515,3,3,0,...,1.133665,-3.912929,-1.430366,2.127649,-3.306784,4.371371,-217.211798,0,1,1

In [238]:
from sklearn.preprocessing import MinMaxScaler
trainDTar = train.drop(columns=['target'])
scaler = MinMaxScaler()
print(scaler.fit(trainDTar))
newtrain = scaler.transform(trainDTar)
lstCol = list(trainDTar.columns)
newtrainDF = pd.DataFrame(newtrain, columns=lstCol)
newtrainDF

MinMaxScaler()

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,...,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_28,f_29,f_30
0,0.345123,0.518124,0.458038,0.573444,0.422871,0.574932,0.512752,0.066667,0.3125,0.071429,...,0.454761,0.589532,0.401455,0.532343,0.364847,0.478991,0.575593,0.527530,0.0,0.0
1,0.673523,0.312898,0.251164,0.451314,0.604453,0.328946,0.547380,0.066667,0.1875,0.285714,...,0.447912,0.557856,0.609194,0.475287,0.428426,0.332800,0.523351,0.653373,0.0,0.0
2,0.671888,0.557907,0.376379,0.600117,0.426854,0.500322,0.427730,0.066667,0.0000,0.142857,...,0.341903,0.451131,0.451243,0.479894,0.479167,0.601569,0.389404,0.420505,0.0,1.0
3,0.479368,0.431081,0.399602,0.740162,0.527921,0.475348,0.471812,0.200000,0.1250,0.071429,...,0.402835,0.394961,0.535664,0.433754,0.550374,0.383893,0.503130,0.585764,0.0,0.0
4,0.614851,0.474382,0.414154,0.390342,0.537910,0.540041,0.543209,0.200000,0.1875,0.000000,...,0.521833,0.520206,0.342303,0.442832,0.568925,0.352246,0.686125,0.411717,0.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,0.639630,0.488878,0.545546,0.604952,0.560228,0.379712,0.636652,0.133333,0.0625,0.142857,...,0.378928,0.401083,0.442235,0.522365,0.514543,0.598525,0.572900,0.685063,0.0,1.0
899996,0.345493,0.497693,0.484987,0.552505,0.450423,0.403143,0.314979,0.266667,0.0625,0.142857,...,0.527849,0.292432,0.615039,0.473605,0.462239,0.486261,0.409961,0.554812,0.0,0.5
899997,0.640278,0.391776,0.558965,0.496610,0.579781,0.463365,0.392851,0.000000,0.0000,0.428571,...,0.549324,0.430328,0.504431,0.315311,0.427078,0.560869,0.608308,0.459566,0.0,0.5
899998,0.321878,0.439283,0.304777,0.483756,0.629899,0.658399,0.494986,0.000000,0.1250,0.142857,...,0.603026,0.386534,0.615460,0.587054,0.503127,0.399579,0.562974,0.519484,1.0,1.0
899999,0.423958,0.448122,0.293189,0.445484,0.653580,0.438991,0.478898,0.466667,0.0625,0.285714,...,0.546197,0.457330,0.568775,0.654364,0.555041,0.470620,0.602309,0.481920,0.0,1.0

In [239]:
X = newtrainDF
y = train['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(630000, 30)
(270000, 30)
(630000,)
(270000,)

In [240]:
from sklearn.naive_bayes import MultinomialNB 
mnb_clf = MultinomialNB()
res = mnb_clf.fit(X_train, y_train)
mnbPred = mnb_clf.predict(X_test)
mnbAcc = metrics.accuracy_score(y_test, mnbPred)
print (mnbAcc*100)

54.7937037037037

In [241]:
nav_clf = MultinomialNB()
nav_scores = cross_val_score(nav_clf, X_train, y_train, cv=10)
print('Naive Bayes Scores: ',nav_scores*100)
nav_mean = nav_scores.mean()
print('Naive Bayes Mean Score: ',nav_mean*100)

Naive Bayes Scores:  [54.82857143 54.52857143 55.06349206 54.32539683 55.17301587 54.73650794
 54.52380952 54.98888889 55.21269841 54.42539683]
Naive Bayes Mean Score:  54.78063492063491

In [242]:
newCSV = test[['id']]
newCSV

             id
0        900000
1        900001
2        900002
3        900003
4        900004
...         ...
699995  1599995
699996  1599996
699997  1599997
699998  1599998
699999  1599999

[700000 rows x 1 columns]

In [244]:
prd = test.drop(columns=['id'])
prd.head(3)

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,...,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_28,f_29,f_30
0,0.442517,0.174380,-0.999816,0.762741,0.186778,-1.074775,0.501888,6,6,0,...,2.749347,-1.006400,-1.193879,-2.435736,-2.427430,-1.966887,5.734205,99.478419,0,0
1,-0.605598,-0.305715,0.627667,-0.578898,-1.750931,1.355550,-0.190911,1,3,4,...,1.080762,2.382405,0.149442,1.883322,-2.848714,-0.725155,3.194219,-65.993825,1,0
2,0.303990,2.445110,0.246515,0.818248,0.359731,-1.331845,1.358622,3,3,4,...,-1.406712,-7.026098,1.312277,-5.157192,1.714005,0.585032,0.066898,-87.405622,0,1

In [246]:
testPRD = mnb_clf.predict(prd)
testPRD

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [247]:
newCSV['target'] = testPRD
newCSV

             id  target
0        900000       0
1        900001       1
2        900002       0
3        900003       0
4        900004       1
...         ...     ...
699995  1599995       0
699996  1599996       1
699997  1599997       0
699998  1599998       0
699999  1599999       0

[700000 rows x 2 columns]

In [248]:
newCSV.to_csv('output.csv', index=False)